/* loginIndex */
     body {
            font-family: Arial, sans-serif;
            background-color: #f0f0f0;
            padding: 20px;
        }
        h1 {
            color: #333;
            text-align: center;
        }
        .login-link, .logout-link {
            display: block;
            text-align: center;
            margin-bottom: 10px;
            padding: 5px 10px;
            background-color: #000;
            color: #fff;
            text-decoration: none;
            border-radius: 5px;
        }
        .login-link:hover, .logout-link:hover {
            background-color: #333;
        }
        .login-info {
            text-align: center;
            margin-top: 20px;
        }