 /****** NavBar Css ******/
nav {
	border: 2px solid gray;
	border-radius: 5px;
}
.container-fluid {
	padding: 10px;
}

.container-fluid img {
	margin-right: 15px;
	width: 100px;
	height: 100px;
}

.brand-title {
	margin-right: 20px;
	font-size: 50px;
}

.brand-title a {
	font-weight: bold;
}

.d-flex {
	margin-right: 10px;
}


li {
	margin-top: 20px;
	font-size: 20px;
}

.nav-item {
	padding: 20px;
}

.navbar-dark {
	background-color: #343a40;
}

.navbar-dark .navbar-brand, .navbar-dark .nav-link, .navbar-dark .navbar-toggler-icon,
	.navbar-dark .form-control, .navbar-dark{
	color: #ffffff;
}

.navbar-dark .nav-link:hover, .navbar-dark .navbar-brand:hover,
	.navbar-dark {
	color: black;
	font-weight: bold;
}

.navbar-dark {
	background-color: #495057;
	border-color: #6c757d;
}

.navbar-dark {
	border-color: #6c757d;
}

li:hover {
	background-color: orange;
	border-radius: 3px;
}


.logRegi{
	display:flex;
	flex-wrap:wrap;
	color:white;
	text-align: center;
}

.logRegi a, .nav_login a{
	text-decoration:none;
	border-radius:5px;
	
	background-color:#333;
	color:white;
	
	padding:10px;
	font-weight: bold;
	
	margin:5px;
	
}
.logRegi a:hover, .nav_login a:hover{
	background-color: orange;
	
}

/********************************* Footer Css *********************************/
.footer {
	background-color: #212529;
	color: white;
	padding: 5px;
	border: 2px solid gray;
	border-radius: 5px;
}

.footer a {
	color: white;
	text-decoration: none;
}

.footer a:hover {
	/* 마우스를 a 태그 위에 올리면 아래에 줄이 생김 */
	text-decoration: underline;
}
 /*******************************************************************************/
body {
	font-family: Arial, sans-serif;
	background-color: #f2f2f2;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100vh;
}

.login-container {
	display: flex;
	background-color: #f2f2f2;
	justify-content: center;
	align-items: center;
	height: 100%;
	
}

.login-form {
	background-color: #fff;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	padding: 20px;
	width: 300px;
	text-align: center;
	margin-bottom: 20px;
}

.login-form h1 {
	font-size: 24px;
	margin-bottom: 20px;
	color: #333;
}

.login-form .member-info input {
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	border-radius: 4px;
}

.login-form .member-info button {
	width: 100%;
	padding: 10px;
	background-color: #000;
	color: #fff;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.login-form .member-info button:hover {
	background-color: #333;
}

.login-form .member-info a {
	margin-right: 10px;
	color: #333;
	text-decoration: none;
}

.login-form .member-info a:hover {
	text-decoration: underline;
}

.result-container {
        width: 300px;
        max-width: 600px; /* 최대 너비 설정 */
        margin: 0 auto; /* 가운데 정렬을 위해 좌우 마진을 자동으로 설정 */
        text-align: center; /* 내용을 가운데 정렬 */
        background-color: #fff;
        padding: 20px; /* 안쪽 여백 설정 */
        border-radius: 8px; /* 모서리를 둥글게 */
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
        .member-info button:hover {
            background-color: #333;
        }
.result-container h1 {
    margin-top: 0; /* 제목의 위 여백 제거 */
    margin-bottom: 20px;
    font-size: 20px; /* 폰트 크기 설정 */
    color: #000; /* 글자색 설정 */
    font-weight: bold; /* 글자 굵기 설정 */
}
.result-container a{
	text-decoration: none;
}

    .result-container > div {
        margin-top: 20px; /* 하단 링크와의 간격 설정 */
    }
    
    .result-container button {
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.result-container button:hover {
    background-color: #333;
}