/****** 건의사항 등록 페이지 ******/
h1 {
	text-align: center;
}

header {
	background-color: black;
	font-weight: bold;
	font-size: 50px;
	text-align: center;
	padding: 40px;
}

input.form-control.me-2 {
    color: black;
}

header {
	background-image: linear-gradient(to right, black, darkblue);
	color: white;
	text-align: center;
	padding: 10px 0;
}

button {
	width: 100%;
}

HEAD
        .boxs {
	display: flex;
	flex-wrap: wrap;
	margin: 20px;
}

.posts {
	flex: 2;
	margin-right: 30px;
}

.aside {
	flex: 1;
	background-color: GRAY;
	border-radius: 5px;
	padding: 20px;
	border: 3px solid black;
}

.article {
	padding: 20px;
	background-color: GRAY;
	border-radius: 5px;
	border: 3px solid black;
}

.visitor-comments form {
	flex: 1 1 100%;
	padding: 10px;
}

.article {
	padding: 20px;
	background-color: white;
	border-radius: 5px;
}

.mb-3 {
	font-weight: bold;
	font-size: 30px;
	padding: 10px;
}

.mb-4 {
	font-weight: bold;
	font-size: 40px;
	margin-top: 20px;
}

.btn {
	font-weight: bold;
	font-size: 30px;
}
