<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- mybatis db연결 후 값 전달과정생략해줌 sql에서처럼 습관적으로 세미콜론; 붙이지말기-->
<mapper namespace="webtoon.semi.mapper.InquiryMapper">
	
	<!-- 입력받은 문의 정보 DB 저장 -->
	<insert id="insertInquiry" parameterType="webtoon.semi.dto.Inquiry"><!-- id MemberMapper.java 메서드와 일치 -->
		INSERT INTO inquiry 
		(inquiry_id , inquiry_title, inquiry_writer,  inquiry_email, inquiry_massage, inquiry_privacy)
     	VALUES 
    	(inquiry_seq.NEXTVAL, #{inquiry_title}, #{inquiry_writer}, #{inquiry_email}, #{inquiry_massage}, #{inquiry_privacy})
	</insert>
	
	<!-- 문의 모든 정보 조회 -->
	<select id="getAllInquiry" resultType="webtoon.semi.dto.Inquiry">
		SELECT *
		FROM inquiry
	</select>
	
	<!-- id를 통한 DB 데이터 정보 모두 불러오기 -->
	<select id="getInquiryById" resultType="webtoon.semi.dto.Inquiry" parameterType="int">
		SELECT *
		FROM inquiry
		WHERE INQUIRY_ID = #{inquiry_id}
	</select>
	
	<!-- 메인에서 작가이름 웹툰이름을 통한 검색 -->
	<select id="searchWebtoon" resultType="webtoon.semi.dto.Webtoon" parameterType="String">
		SELECT * FROM webtoon
		WHERE WEB_NAME   LIKE '%' || #{keyword} || '%'
		OR 	  WEB_AUTHOR LIKE '%' || #{keyword} || '%'
	</select>
	
	<!-- 문의게시판에서 이름 제목을 통한 검색 -->
	<select id="boardSearch" resultType="webtoon.semi.dto.Inquiry" parameterType="String">
	SELECT * FROM inquiry
	WHERE inquiry_title   LIKE '%' || #{keyword} || '%'
	OR 	  inquiry_writer LIKE '%' || #{keyword} || '%'
	</select>
</mapper>